/* WikiLabs tiddler classes defined by js code */
.wltc {
  margin-top: 1em;
  margin-bottom: 1em;
}

/*------------------------------------------*/
/* Indent by level adjusted to bullet lists */

.i, .indent, .wltc-l2 {
  margin-left: 2.65em;
}

.ii, .wltc-l3 {
  margin-left: 5.3em;
}

.iii, .wltc-l4 {
  margin-left: 7.95em;
}

/*------------------------------------------*/
/* Text alignment                           */

il1, .indentLine1 {
  text-indent: 2.65em;
}

ol1, .outdentLine1 {
  text-indent: -2.65em;
}

.j, .justify {
  text-align: justify;
}

/* Centering functions */
.r, .right-dedent {
  margin-right: 3em;
}

/*------------------------------------------*/
/* Simple custom list bullet                */
ul .star{
  list-style-type: "★ "
}

/*------------------------------------------*/
/* Margin double, margin half               */

.md, .margin-double {
  margin-top: 2em;
  margin-bottom: 2em;
}

.mtd, .margin-top-double {
  margin-top: 2em;
}

.-mh, .margin-half {
  margin-top: -.5em;
  margin-bottom: -.5em;
}

.-mbh, .-margin-bottom-half {
  margin-bottom: -.5em;
}

/*------------------------------------------------------*/
/* Undo some default definitions to get more variations */

.-m, .margin-init {
  margin: initial;
}

.-mt, .margin-top-init {
  margin-top: initial;
}

.-mb, .margion-bottom-init {
  margin-bottom: initial;
}

/*-----------------------------------------------*/
/* Remove margin-top for headings in color-boxes */
.c h1, .c h2, .c h3, .c h4, .c h5, .c h6  {
  margin-top: initial;
}

/*------------------------------------------*/
/* Float and .clearfixes                    */

.fl, .float-left {
  float: left;
}

.fr, float-right {
  float: right;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

/*------------------------------------------*/
/* ASIDE needs float and .clearfixes        */

aside {
    width: 40%;
    padding: .5em 1em;
    margin-left: .5em;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}
